@font-face {
	font-family: "PSTElliots";
	src: url("/fonts/PSTElliotsTrial-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PSTElliots";
	src: url("../fonts/PSTElliots/PSTElliotsTrial-Extrabold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PSTElliots";
	src: url("../fonts/PSTElliots/PSTElliotsTrial-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PSTElliots";
	src: url("../fonts/PSTElliots/PSTElliotsTrial-Semibold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PSTElliots";
	src: url("../fonts/PSTElliots/PSTElliotsTrial-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PSTElliots";
	src: url("../fonts/PSTElliots/PSTElliotsTrial-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PSTElliots";
	src: url("../fonts/PSTElliots/PSTElliotsTrial-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Gridular";
	src: url("/fonts/Gridular-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Nippo";
	src: url("../fonts/Nippo/Nippo-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Become";
	src: url("../fonts/Become/BECOMEdisplay-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "HALTwins";
	src: url("/fonts/HALTwins-Semi-Light-01.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Recoleta";
	src: url("../fonts/Recoleta/Recoleta-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Pilowlava";
	src: url("../fonts/Pilowlava/Pilowlava-Regular.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

