.fade-in {
	opacity: 0;
	transition: opacity 0.5s;
	@apply delay-500;
}

.feed-marquee{

	div:first-of-type{
		align-items: unset !important;
		overflow: visible !important;
		span{
			overflow: visible !important;
		}
	}
}
.feed-marquee>span{
	overflow: visible !important;

}

.icon-block-marquee{
	.rfm-initial-child-container, .rfm-marquee{
		align-items: start !important;
	}
}


.filter-candy{
	filter: invert(0.4) sepia(1) saturate(5) hue-rotate(315deg) brightness(1);
}

.filter-electric{
  filter: invert(0.3) sepia(1) saturate(5) hue-rotate(175deg);
}

.filter-sand{
  filter: invert(0.3) sepia(1) saturate(5) hue-rotate(75deg);
}
